<div class="columns">
    <div class="column is-7">
        <app-carousel></app-carousel>
    </div>
    <div class="column">
        <h1 class="title is-2">Регистрация</h1>
        <div class="register-column"> 
            <form action="" class="box">
                <div class="field">
                    <label for="" class="label">Логин</label>
                    <div class="control has-icons-left">
                        <input type="text" placeholder="almazbek_printhouse" class="input" required>
                        <span class="icon is-small is-left">
                        <i class="fa fa-envelope"></i>
                        </span>
                    </div>
                </div>
                <div class="field">
                    <label for="" class="label">Телефон</label>
                    <div class="control has-icons-left">
                        <input type="text" placeholder="(555)99 99 99" class="input" required>
                        <span class="icon is-small is-left">
                        <i class="fa fa-envelope"></i>
                        </span>
                    </div>
                </div>
                <div class="field">
                    <label for="" class="label">Электронный Адрес</label>
                    <div class="control has-icons-left">
                        <input type="email" placeholder="almazbek@printhouse.kg" class="input">
                        <span class="icon is-small is-left">
                        <i class="fa fa-envelope"></i>
                        </span>
                    </div>
                </div>
                <div class="field">
                    <label for="" class="label">Адрес</label>
                    <div class="control has-icons-left">
                        <input type="text" placeholder="ул. Киевская 12" class="input">
                        <span class="icon is-small is-left">
                        <i class="fa fa-envelope"></i>
                        </span>
                    </div>
                </div>
                <div class="field">
                    <label for="" class="label">Компания</label>
                    <div class="control has-icons-left">
                        <input type="text" placeholder="принтхаус" class="input" required>
                        <span class="icon is-small is-left">
                        <i class="fa fa-envelope"></i>
                        </span>
                    </div>
                </div>
                <div class="field">
                    <label for="" class="label">ФИО</label>
                    <div class="control has-icons-left">
                        <input type="text" placeholder="Алмазбеков Алмазбек Алмазбекович" class="input">
                        <span class="icon is-small is-left">
                        <i class="fa fa-lock"></i>
                        </span>
                    </div>
                </div>
                <div class="field">
                    <label for="" class="label">Пароль</label>
                    <div class="control has-icons-left">
                        <input type="password" placeholder="*******" class="input" required>
                        <span class="icon is-small is-left">
                        <i class="fa fa-lock"></i>
                        </span>
                    </div>
                </div>
                <div class="field">
                    <label for="" class="label">Повторить Пароль</label>
                    <div class="control has-icons-left">
                        <input type="password" placeholder="*******" class="input" required>
                        <span class="icon is-small is-left">
                        <i class="fa fa-lock"></i>
                        </span>
                    </div>
                </div>
                <div class="field">
                    <label class="checkbox">
                        <input type="checkbox" required>
                        Я Согласен с <a href="#">условиями</a>
                      </label>
                </div>
                
                <div class="field ">
                    <button class="button is-success">
                        Регистрация
                    </button>
                </div>
            </form>


        </div>
        <div class="is-offset-2 has-text-right">
            <div class="is-offset-2 has-text-right">
                <a class="button is-small" routerLink="/auth" >Зайти</a>
                <a class="button is-small" routerLink="/auth/reset-password">Забыли Пароль?</a>
            </div>
        </div>
    </div>
    <div class="column is-1"></div>
</div>