
.is-cyan{
    color: cyan;
    background-color: grey;
}

.is-magento{
    color: magenta;
    background-color: grey;
}

.is-yellow{
    color: yellow;
    background-color: grey;
}

.is-black{
    color: black;
    background-color: grey;
}

.is-pantone{
    color: gold;
    background-color: grey;
}
