<form class="box" (ngSubmit)="onSubmit(loginForm)">
    <div class="help is-danger is-light" *ngIf="errorMessage">
        {{errorMessage}}
    </div>

    <div class="help is-success is-light" *ngIf="successMessage">
        {{successMessage}}
    </div>

    <div class="field">
        <label for="" class="label">Логин</label>
        <div class="control has-icons-left">
            <input type="text" [(ngModel)]="user.name" name="name" placeholder="printhouse" class="input" required>
            <span class="icon is-small is-left">
            <i class="fa fa-envelope"></i>
            </span>
        </div>
    </div>
    <div class="field">
        <label for="" class="label">Пароль</label>
        <div class="control has-icons-left">
            <input type="password"  [(ngModel)]="user.password" name="password" placeholder="пароль" class="input" required>
            <span class="icon is-small is-left">
            <i class="fa fa-lock"></i>
            </span>
        </div>
    </div>
    <div class="field">
        <button type="submit" class="button is-success">
            Зайти
        </button>
    </div>
        <!-- <div class="checkbox level-left">
          <input type="checkbox" id="checkbox" class="regular-checkbox">
          <label for="checkbox"></label>
          <span>Remember me</span>
        </div> -->
</form>