<form action="" class="box">
    <div class="field">
        <label for="" class="label">Логин</label>
        <div class="control has-icons-left">
            <input type="email" placeholder="printhouse" class="input" required>
            <span class="icon is-small is-left">
            <i class="fa fa-envelope"></i>
            </span>
        </div>
    </div>
    <div class="field">
        <label for="" class="label">Пароль</label>
        <div class="control has-icons-left">
            <input type="password" placeholder="*******" class="input" required>
            <span class="icon is-small is-left">
            <i class="fa fa-lock"></i>
            </span>
        </div>
    </div>
    <div class="field ">
        <button class="button is-success">
            Зайти
        </button>
    </div>
        <!-- <div class="checkbox level-left">
          <input type="checkbox" id="checkbox" class="regular-checkbox">
          <label for="checkbox"></label>
          <span>Remember me</span>
        </div> -->
</form>