.tile.notification.is-success {
    margin-bottom: 1.5rem;
}

tr.status-id-1 {
    border-color: #f14668;
    background: #f14668;
    color: white;
}

tr.status-id-2 {
    border-color: #ffdd57;
    background: #ffdd57;
}

tr.status-id-3 {
    border-color: #48c774;
    background: #48c774;
    color: white;
}