.tile.notification.is-success {
    margin-bottom: 1.5rem;
}

tr.status-id-1 {
    border-color: #f14668;
    background: #f14668;
    color: white;
}

tr.status-id-2 {
    border-color: #ffdd57;
    background: #ffdd57;
}

tr.status-id-3 {
    border-color: #48c774;
    background: #48c774;
    color: white;
}

.filter-group {
    padding: 0px 10px;
    border: 1px solid #777;
    border-radius: 5px;
    margin: 0 10px;
}
mat-form-field {
    margin: 0 5px;
    width: 120px;
}
.button {
    margin: 0.43rem 0.2rem;
}
.table-container{
    max-width: 90%;
}

@media screen and (max-width: 766px) {
    .filter-group{
        display: block;
    }
}