<header class="hero is-light">
    <div class="hero-head">
      <nav class="navbar" role="navigation" aria-label="main navigation">
          <div class="navbar-brand">
            <a class="navbar-item" routerLink="/dashboard">
              <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
            </a>
        
            <a role="button" class="navbar-burger burger" [ngClass]="{'is-active': showBurgerMenu}" (click)="toggleBurgerMenu()" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
            </a>
          </div>
        
          <div id="navbarBasicExample" class="navbar-menu" [ngClass]="{'is-active': showBurgerMenu}">
            <div class="navbar-start">
              <a class="navbar-item" (click)="gotoPeport()">
                Home
              </a>
        
              <a class="navbar-item" href="javascript:void(0)" (click)="addMessage()">
                Уведмоления
              </a>
            </div>
        
            <div class="navbar-end">
              <div class="box" *ngIf="thisUser">
                  <article class="media">
                    <div class="media-content">
                      <div class="content">
                          <strong>{{thisUser.name}}</strong>
                      </div>
                      <div class="has-text-white" [ngClass]="(thisUser.balance > -1)?'has-background-success':'has-background-danger'">
                        <span class="money">{{thisUser.balance| currency:KGS:''}} сом</span>
                      </div>
                    </div>
                      <span class="icon is-large" (click)="gotoProfile()">
                        <span class="fa-stack fa-lg">
                          <i class="fa fa-user fa-stack-1x"></i>
                        </span>
                      </span>
                  </article>
                </div>
              <div class="navbar-item">
                <div class="buttons">
                  <a class="button is-light" (click)="logOut()">
                    Выйти
                  </a>
                </div>
              </div>
            </div>
          </div>
        </nav>
        <app-notification></app-notification>
    </div>
    <progress *ngIf="routerLoading" class="progress is-small is-primary" max="100">15%</progress>
</header>