article.message {
    width: 50%;
    position: fixed;
    left: 25%;
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.5);
    .notification {
        padding: 0.5rem;
        &:not(:last-child) {
            margin-bottom: 0.5rem;
        }
    }
}