<div class="columns">
    <div class="column is-7">
        <app-carousel></app-carousel>
    </div>
    <div class="column">
        <h1 class="title is-2">Логин</h1>
        <div class="login-column">
            <app-login></app-login>
        </div>
        <div class="is-offset-2 has-text-right">
            <a class="button is-small" routerLink="/auth/register" >Регистрация</a>
            <a class="button is-small" routerLink="/auth/reset-password">Забыли Пароль?</a>
        </div>
    </div>
    <div class="column is-1"></div>
</div>