<aside class="menu">
    <p class="menu-label">
      Основной
    </p>
    <ul class="menu-list">
      <li><a routerLink="/dashboard" routerLinkActive="is-active" [routerLinkActiveOptions]="{exact:
        true}">Главная</a></li>
      <li *ngIf="permissionGuard.showMenuItem('menu order')"><a routerLink="/dashboard/order" routerLinkActive="is-active">Заказы</a></li>
      <li *ngIf="permissionGuard.showMenuItem('menu report')"><a routerLink="/dashboard/report" routerLinkActive="is-active">Отчет</a></li>
      <li *ngIf="permissionGuard.showMenuItem('menu profile')"><a routerLink="/dashboard/profile" routerLinkActive="is-active">Профиль</a></li>
    </ul>
    <p class="menu-label" *ngIf="permissionGuard.showMenuItem('menu payment') || permissionGuard.showMenuItem('menu storage')">
      Администратор
    </p>
    <ul class="menu-list">
      <li *ngIf="permissionGuard.showMenuItem('menu payment')"><a routerLink="/dashboard/payment" routerLinkActive="is-active">Оплата</a></li>
      <li *ngIf="permissionGuard.showMenuItem('menu storage')"><a routerLink="/dashboard/storage" routerLinkActive="is-active">Склад</a></li>
    </ul>
  </aside>