<div class="level">
    <div class="level-left">
        <div class="title">Создать Заказ</div>
    </div>
</div>

<div class="columns is-multiline">
    <div class="column">
        <form name="form" (ngSubmit)="f.form.valid && onSubmit(f)" class="box" #f="ngForm">
            <div class="notification">
                <div class="field">
                    <div class="file has-name is-primary is-fullwidth" *ngIf="!order.file?.id">
                        <label class="file-label">
                            <input class="file-input" type="file" [ngModel]="fff" name="fff" ngFileSelect [options]="options" (uploadOutput)="onUploadOutput($event)" [uploadInput]="uploadInput"/>
                            <input  type="hidden" name="order.file?.id" [value]='order.file?.id' required/>
                            <span class="file-cta">
                                <span class="file-icon">
                                <i class="fa fa-upload"></i>
                                </span>
                                <span class="file-label">
                                    Выберите PDF файл
                                </span>
                            </span>
                            <span class="file-name">
                            </span>
                        </label>
                    </div>
                    <div class="help is-danger" *ngIf="!order.file?.id && f.submitted" >
                        Загрузите PDF файл
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                    <progress class="progress is-primary" *ngIf="file" value="{{ file.progress?.data?.percentage }}" max="100"></progress>
                    </div>
                </div>
                <div class="field" *ngIf="order.file?.id">
                    <div class="control">
                        <button type="button" class="button is-medium is-danger" (click)="deleteFile()">
                            <span class="icon">
                                <i class="fa fa-file-pdf-o"></i>
                            </span>
                            <span>Удалить PDF файл</span>
                          </button>
                    </div>
                </div>
                <div class="field is-horizontal" *ngIf="order.file?.id">
                    <div class="field-label">
                        <label class="label">Данные PDF</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <label>Имя Файла: {{file.old_name}}</label>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal" *ngIf="order.file?.id">
                    <div class="field-label"><label class="label"></label>
                    </div>
                    <div class="field-body">
                        <br/>
                        <div class="field">
                            <label>Страниц: {{file.pages}}</label>
                        </div>
                        <div class="field">
                            <label>Цена: {{order.payment.amount | currency:KGS:''}} сом</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="field is-horizontal" *appHasPermission="'order user all'">
                <div class="field-label">
                  <label class="label">Клиент</label>
                </div>
                <div class="field-body" *ngIf="users">
                    <div class="field">
                        <div class="select">
                            <select name="userID" [(ngModel)]="order.user_id" #userID="ngModel">
                                <option disabled>Выберите Клиента</option>
                                <option *ngFor="let user of users" [value]='user.id'>{{user.name}}</option>
                            </select>
                        </div>
                        <div *ngIf="!order.user_id && (userID.dirty || userID.touched || f.submitted)" class="help is-danger">
                            Объязательное поле
                        </div>
                    </div>
                </div>
            </div>

            <div class="field is-horizontal" *ngIf="plates">
                <div class="field-label">
                  <label class="label">Размер Пластины</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="select">
                            <select name="plateId" [(ngModel)]="order.storage.plate_id" #plateId="ngModel" (change)="calculatePrice()">
                                <option disabled>Выберите Размер</option>
                                <option *ngFor="let plate of plates" [value]='plate.id' >{{plate.name}}</option>
                            </select>
                        </div>
                        <div *ngIf="!order.storage.plate_id && (plateId.dirty || plateId.touched || f.submitted)" class="help is-danger">
                            Объязательное поле
                        </div>
                    </div>
                </div>
            </div>

            <div class="field is-horizontal">
                <div class="field-label">
                    <label class="label">Цветность</label>
                    <div *ngIf="!order.c && !order.m && !order.y && !order.k && !order.pantone" class="help is-danger">
                        Выберите хотя бы один цвет
                    </div>
                </div>
                <div class="field-body">
                    <div class="field">
                        <input id="c" type="checkbox" name="с" [(ngModel)]="order.c" #c="ngModel" class="switch is-cyan is-rounded" (change)="calculatePrice()">
                        <label for="c">С</label>
                    </div>

                    <div class="field">
                        <input id="m" type="checkbox" name="m" [(ngModel)]="order.m" #m="ngModel" class="switch is-magento is-rounded" (change)="calculatePrice()">
                        <label for="m">M</label>
                    </div>

                    <div class="field">
                        <input id="y" type="checkbox" name="y" [(ngModel)]="order.y" #y="ngModel" class="switch is-yellow is-rounded" (change)="calculatePrice()">
                        <label for="y">Y</label>
                    </div>

                    <div class="field">
                        <input id="k" type="checkbox" name="k" [(ngModel)]="order.k" #k="ngModel" class="switch is-black is-rounded" (change)="calculatePrice()">
                        <label for="k">K</label>
                    </div>

                    <div class="field">
                        <input id="pantone" type="checkbox" name="pantone" [(ngModel)]="order.pantone" #pantone="ngModel" class="switch is-rounded" (change)="calculatePrice()">
                        <label for="pantone">Пантон</label>
                    </div>
                </div>
            </div>

            <div class="field is-horizontal">
                <div class="field-label">
                  <label class="label">Доставка</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <input id="deliver" type="checkbox" name="deliver" [(ngModel)]="order.deliver" class="switch is-rounded">
                        <label for="deliver">Да</label>
                    </div>
                </div>
            </div>

            <div class="field is-horizontal" *ngIf="order.deliver">
                <div class="field-label">
                    <label for="address" class="label">Адрес</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control is-expanded  has-icons-left">
                            <input class="input" id="address" type="text" name="address" [(ngModel)]="order.address">
                            <span class="icon is-small is-left">
                                <i class="fa fa-home"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="field is-horizontal">
                <div class="field-label">
                  <label class="label">Комментарий</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <textarea name="comment" class="textarea" [(ngModel)]="order.comment" placeholder="Допольнительные сведения"></textarea>
                    </div>
                </div>
            </div>
            
            <div class="field ">
                <button class="button is-info">
                    Создать Заказ
                </button>
            </div>
        </form>
    </div>
</div>