/* You can add global styles to this file, and also import other style files */
@import 'app/styles/colors';
@import 'app/styles/variables';
@import 'app/styles/mixins';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.notification.is-error {
    background-color: #f14668;
    color: #fff;
}
.negative-balance {
    background-color: #f14668;
    color: #fff;
}
.positive-balance {
    background-color: #48c774;
    color:white;
}

.table-container{
    max-width: 90%;
}

