<div class="level">
    <div class="level-left">
        <div class="title">Изменить Заказ</div>
    </div>
</div>

<div class="columns is-multiline">
    <div class="column">

        <div class="help is-danger" *ngIf="!order.editable">
            Вы не можете изменять этот заказ
        </div>
        <form name="form" (ngSubmit)="f.form.valid && onSubmit(f)" class="box" #f="ngForm">

            <div class="notification">
                <div class="field"  *ngIf="!order.file?.id">
                    <div class="file has-name is-primary is-fullwidth">
                        <label class="file-label">
                            <input class="file-input" type="file" ngFileSelect [options]="options" (uploadOutput)="onUploadOutput($event)" [uploadInput]="uploadInput"/>
                            <input  type="hidden" name="fileId" [value]='order.file?.id' required/>
                            <span class="file-cta">
                                <span class="file-icon">
                                <i class="fa fa-upload"></i>
                                </span>
                                <span class="file-label">
                                    Выберите PDF файл
                                </span>
                            </span>
                            <span class="file-name">
                                {{ order.file?.name }}
                            </span>
                        </label>
                    </div>
                    <div class="help is-danger" *ngIf="!order.file?.id && f.submitted" >
                        Загрузите PDF файл
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                    <progress class="progress is-primary" *ngIf="file" value="{{ file.progress?.data?.percentage }}" max="100"></progress>
                    </div>
                </div>
                <div class="field" *ngIf="order.file?.id">
                    <div class="control">
                        <button type="button" class="button is-medium is-danger" (click)="deleteFile()">
                            <span class="icon">
                                <i class="fa fa-file-pdf-o"></i>
                            </span>
                            <span>Удалить PDF файл</span>
                          </button>
                    </div>
                </div>
                <div class="field is-horizontal" *ngIf="order.file?.id">
                    <div class="field-label">
                        <label class="label">Имя Файла</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <label>{{order.file.old_name}}</label>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal" *ngIf="order.file?.id">
                    <div class="field-label"><label class="label"></label>
                    </div>
                    <div class="field-body">
                        <br/>
                        <div class="field">
                            <label>Страниц: {{order.file.pages}}</label>
                        </div>
                        <div class="field">
                            <label>Цена: {{order.price | currency:KGS:''}} сом</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="field is-horizontal" *ngIf="plates">
                <div class="field-label">
                  <label class="label">Размер Пластины</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="select">
                            <select name="plateId" [(ngModel)]="order.plateId" (change)="calculatePrice()">
                                <option disabled>Выберите Размер</option>
                                <option *ngFor="let plate of plates" [value]='plate.id' [selected]='plate.id == order.plate_id'>{{plate.name}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="field is-horizontal" *ngIf="permissionGuard.showMenuItem('order user all') && statuses">
                <div class="field-label">
                  <label class="label">Статус</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="select">
                            <select name="statusID" [(ngModel)]="statusID">
                                <option disabled>Выберите Размер</option>
                                <option *ngFor="let status of statuses" [value]='status.id' [selected]='status.id == order.status_id'>{{status.name}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="field is-horizontal">
                <div class="field-label">
                    <label class="label">Цветность</label>
                    <div *ngIf="!order.c && !order.m && !order.y && !order.k && !order.pantone" class="help is-danger">
                        Выберите хотя бы один цвет
                    </div>
                </div>
                <div class="field-body">
                    <div class="field">
                        <input id="c" type="checkbox" name="с" [(ngModel)]="order.c" [checked]="order.c" class="switch is-cyan is-rounded" (change)="calculatePrice()">
                        <label for="c">С</label>
                    </div>

                    <div class="field">
                        <input id="m" type="checkbox" name="m" [(ngModel)]="order.m" [checked]="order.m" class="switch is-magento is-rounded" (change)="calculatePrice()">
                        <label for="m">M</label>
                    </div>

                    <div class="field">
                        <input id="y" type="checkbox" name="y" [(ngModel)]="order.y" [checked]="order.y" class="switch is-yellow is-rounded" (change)="calculatePrice()">
                        <label for="y">Y</label>
                    </div>

                    <div class="field">
                        <input id="k" type="checkbox" name="k" [(ngModel)]="order.k" [checked]="order.k" class="switch is-black is-rounded" (change)="calculatePrice()">
                        <label for="k">K</label>
                    </div>

                    <div class="field">
                        <input id="pantone" type="checkbox" name="pantone" [(ngModel)]="order.pantone" [checked]="order.pantone" class="switch is-gold is-rounded" (change)="calculatePrice()">
                        <label for="pantone">Пaнтон</label>
                    </div>
                </div>
            </div>

            <div class="field is-horizontal">
                <div class="field-label">
                  <label class="label">Доставка</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <input id="deliver" type="checkbox" name="deliver" [checked]="order.deliver" [(ngModel)]="order.deliver" class="switch is-rounded">
                        <label for="deliver">Да</label>
                    </div>
                </div>
            </div>

            <div class="field is-horizontal" *ngIf="order.deliver">
                <div class="field-label">
                    <label for="address" class="label">Адрес</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control is-expanded  has-icons-left">
                            <input class="input" id="address" type="text" name="address" [(ngModel)]="order.address">
                            <span class="icon is-small is-left">
                                <i class="fa fa-home"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="field is-horizontal">
                <div class="field-label">
                  <label class="label">Комментарий</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <textarea name="comment" class="textarea" [(ngModel)]="order.comment" placeholder="Допольнительные сведения">{{order.comment}}</textarea>
                    </div>
                </div>
            </div>
            
            <div class="field ">
                <button class="button is-info">
                    Изменить Заказ
                </button>
            </div>
        </form>
    </div>
</div>